.filter {
    width: 15rem; margin: 5px;
}

.filter_align {
    text-align: center;
    border-bottom: 1px solid;
}

button.bg {
    background-color: #00800061;
}

.card {
    margin: 5px; padding: 10px;
}

.button {
    margin-bottom: 10px;
}

img.bg {
    background: #d3d3d321
}

.card-body {
    margin-left: -18px;
}

.card-title {
    color: #222fc7;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00800061;
    color: white;
    text-align: center;
 }